.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Sayfa yüksekliği kadar ortalar */
  background-color: #B0E0E6;
}

h1 {
  color: #02182B;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #D7263D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

span {
  font-size: 18px;
}

button.remove-button {
  margin-left: 10px;
  background-color: #DC3545;
}

button.remove-button:hover {
  background-color: #A52C40;
}

button.download-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28A745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.download-button:hover {
  background-color: #1E8449;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  margin-left: 10px;
}

button {
  margin-left: 15px;
}

