.character {
  background-color: #95B2B8;
  padding: 20px;
  margin: 20px;
  width: 200px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

.health-bar {
  background-color: #333;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.health-bar-inner {
  background-color: #39ff14;
  height: 100%;
  transition: width 0.3s;
}

.attacking {
  animation: attack 0.5s linear alternate infinite;
}

.defending {
  animation: defend 0.5s linear alternate infinite;
}

@keyframes attack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes defend {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
