body{
  background-color: red;
}



.container {
text-align: center; /* Butonları yatayda ortala */
display: flex;
  flex-direction: column; /* Butonları dikeyde ortala */
  align-items: center;
  justify-content: center;
  height: 100vh; /* Sayfa yüksekliği kadar container */
}

button {
  margin: 10px; /* Butonlar arasında boşluk bırakın */
  padding: 10px 20px; /* Buton boyutları */
}



#ileri{
  position: absolute;
  top: 43%;
  left: 50%;
}


#geri{
  position: absolute;
  top: 57%;
  left: 50%;
}

#sag{
  position: absolute;
  top: 50%;
  left: 55%;
}

#sol{
  position: absolute;
  top: 50%;
  left: 45%;
}

#dur{
  position: absolute;
  top: 50%;
  left: 50%;
}