html{
    background-color: #840032;
}



table{
height: 400px;
width: 1600px;
text-align: center;
align-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 300px;
background-color: #002642;
color: #d5d9d9;
font-size:  40px ;
}

button{
background-color: #002642;
border: 1px solid #d5d9d9;
border-radius: 8px;
box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
box-sizing: 20px;
color: #E5DADA;
display: inline-block;
font-size: 20px;
width: 200px;
height: 100px;
margin-top: 50px;
margin-left: 870px;
}